[submodule "vectorian/core/lib/ppk_assert"]
	path = vectorian/core/lib/ppk_assert
	url = https://github.com/gpakosz/PPK_ASSERT
[submodule "vectorian/core/lib/pyemd"]
	path = vectorian/core/lib/pyemd
	url = https://github.com/wmayner/pyemd
[submodule "vectorian/core/lib/pyalign"]
	path = vectorian/core/lib/pyalign
	url = https://github.com/poke1024/pyalign
	branch = 0.3.6
